@page
@model kwh.Pages.Vendors.CreateModel

@{
    ViewData["Title"] = "Create Vendor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <br />
    <h4>Vendor</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Vendor.VendorName" class="control-label"></label>
                    <input asp-for="Vendor.VendorName" class="form-control" placeholder="Example"/>
                    <span asp-validation-for="Vendor.VendorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vendor.VendorUrl" class="control-label"></label>
                    <input asp-for="Vendor.VendorUrl" class="form-control" placeholder="https://www.example.com"/>
                    <span asp-validation-for="Vendor.VendorUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vendor.VendorPhone" class="control-label"></label>
                    <input asp-for="Vendor.VendorPhone" class="form-control" placeholder="123-456-7890"/>
                </div>
                <div class="form-group">
                    <label asp-for="Vendor.VendorEmail" class="control-label"></label>
                    <input asp-for="Vendor.VendorEmail" class="form-control" placeholder="example@example.com"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
