@page
@model kwh.Pages.Vendors.EditModel

@{
    ViewData["Title"] = "Edit Vendor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <br />
    <h4>Vendor</h4>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Vendor.VendorId" />
                <div class="form-group">
                    <label asp-for="Vendor.VendorName" class="control-label"></label>
                    <input asp-for="Vendor.VendorName" class="form-control" />
                    <span asp-validation-for="Vendor.VendorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vendor.VendorUrl" class="control-label"></label>
                    <input asp-for="Vendor.VendorUrl" class="form-control" />
                    <span asp-validation-for="Vendor.VendorUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vendor.VendorPhone" class="control-label"></label>
                    <input asp-for="Vendor.VendorPhone" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Vendor.VendorEmail" class="control-label"></label>
                    <input asp-for="Vendor.VendorEmail" class="form-control" />
                </div>
                <div class="row p-2">
                    <div class="form-group col-sm text-left p-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <input type="button" value="Delete" class="btn btn-danger"
                               onclick="window.location.href = 'Delete?id=' + window.location.search.substring(1).split('=')[1];" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a type="button" asp-page="./Index" class="btn btn-primary">Cancel</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
