@page
@model kwh.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Add a new category";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <br />
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-md-4  col-sm-10 text-center">
                <h3 class="p-2">@ViewData["Title"]</h3>
                <b class="text-danger">Please ensure the category you are adding does not exist.</b>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group m-2">
                        <input asp-for="Category.CategoryName" class="form-control" placeholder="New Category" />
                        <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                    </div>
                    <div class="row p-2">
                        <div class="form-group col-sm text-center p-2">
                            <input type="submit" value="Add" class="btn btn-primary" />
                            <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
