@page
@model kwh.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Add a new project";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <br />
    <div class="row justify-content-center">
        <h4>@ViewData["Title"]</h4>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-10 text-left">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Project.ProjectName" class="control-label"></label>
                    <input asp-for="Project.ProjectName" class="form-control" placeholder="Example" />
                    <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Project.ProjectYear" class="control-label"></label>
                    <input asp-for="Project.ProjectYear" class="form-control" placeholder="2020" />
                    <span asp-validation-for="Project.ProjectYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Project.ProjectCountry" class="control-label"></label>
                    <input asp-for="Project.ProjectCountry" class="form-control" placeholder="Zambia" />
                    <span asp-validation-for="Project.ProjectCountry" class="text-danger"></span>
                </div>
                <div class="row p-2 text-center">
                    <div class="form-group col-sm text-center p-2">
                        <input type="submit" value="Add" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
