@page
@model kwh.Pages.Projects.EditModel

@{
    ViewData["Title"] = "Edit Project";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <br />
    <h4>Project</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Project.Id" />
                <div class="form-group">
                    <label asp-for="Project.Name" class="control-label"></label>
                    <input asp-for="Project.Name" class="form-control" />
                    <span asp-validation-for="Project.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Project.Year" class="control-label"></label>
                    <input asp-for="Project.Year" class="form-control" />
                    <span asp-validation-for="Project.Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Project.Country" class="control-label"></label>
                    <input asp-for="Project.Country" class="form-control" />
                    <span asp-validation-for="Project.Country" class="text-danger"></span>
                </div>
                <div class="row p-2">
                    <div class="form-group col-sm text-right p-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <input type="button" value="Delete" class="btn btn-danger"
                               onclick="window.location.href = 'Delete?id=' + window.location.search.substring(1).split('=')[1];" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
