
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-nav .nav-item .nav-link {
    color: red;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: pink;
}

a {
  color: green;
}

a.hover, a:hover {
    color: darkgreen;
}

table {
    border: hidden;
}

p1 {
    font-size: medium;
    display: inline-block;
    padding: 10px;
}

.btn-primary {
    color: #fff;
    background-color: green;
    border-color: darkgreen;
}

.btn-primary.disabled {
    background-color: green;
    border-color: darkgreen;
}

.btn-primary:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}

.btn-primary:focus {
    border-color: darkgreen;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #bd2130;
}

.btn-danger.disabled {
    background-color: #dc3545;
    border-color: #bd2130;
}

.btn-danger:hover {
    background-color: #bd2130;
    border-color: #bd2130;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: green;
    border-color: darkgreen;
}


html {
  font-size: 14px;
  text-decoration-color: white;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #272727;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
  background-color: #272727;
  color: white;
}

.auto-complete {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
}

.popover-title{
    color: black;
}