@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="col-md-4">
    <p>
        <a class="btn btn-default"
           href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/">
            Download the completed project from GitHub &raquo;
        </a>
    </p>
</div>