@page
@model LoginModel
@{
    ViewData["Title"] = "Sign in";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign in</title>
</head>
<body>
    <br />
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <p>Log in using your email or usernames.</p>
                <p>@Html.ValidationMessage("CustomErr", new { @class = "text-danger" })</p>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" placeholder="Email/Username">
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="../Inventory/Index">Back to Inventory</a>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</body>
</html>