@page
@model kwh.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logged Out";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <br />
    <h3>@ViewData["Title"]</h3>
    <p>You have successfully signed out.</p>
</body>
</html>