@page
@model kwh.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logged Out";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <br />
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <h3>@ViewData["Title"]</h3>
            <p>You have successfully signed out.</p>
        </div>
    </div>
</body>
</html>