@page
@model kwh.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logged Out";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <br />
    <h4>@ViewData["Title"]</h4>
    <hr />
    <h5>You have successfully signed out.</h5>
</body>
</html>