@page
@model kwh.Pages.AppUsers.CreateModel

@{
    ViewData["Title"] = "Add a new user";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New user</title>
</head>
<body>
    <div class="container-fluid text-center">
        <br />
        <h3>@ViewData["Title"]</h3>
        <div class="row justify-content-center">
            <div class="col-md-4  col-sm-10 text-left">
                <form method="post" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p>@Html.ValidationMessage("CustomErr", new { @class = "text-danger" })</p>
                    <div class="form-group">
                        <label asp-for="AppUser.FirstName" class="control-label"></label>
                        <input asp-for="AppUser.FirstName" class="form-control" placeholder="John" />
                        <span asp-validation-for="AppUser.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppUser.LastName" class="control-label"></label>
                        <input asp-for="AppUser.LastName" class="form-control" placeholder="Doe" />
                        <span asp-validation-for="AppUser.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppUser.Email" class="control-label"></label>
                        <input asp-for="AppUser.Email" class="form-control" placeholder="example@example.com" />
                        <span asp-validation-for="AppUser.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppUser.Password" class="control-label"></label>
                        <input asp-for="AppUser.Password" class="form-control" placeholder="********" />
                        <span asp-validation-for="AppUser.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppUser.ConfirmPassword" class="control-label"></label>
                        <input asp-for="AppUser.ConfirmPassword" class="form-control" placeholder="********" />
                        <span asp-validation-for="AppUser.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Add" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
