@page
@model kwh.Pages.AppUsers.EditModel

@{
    ViewData["Title"] = "Edit Users";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <br />
    <h4>User</h4>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AppUser.Id" />
                <div class="form-group">
                    <label asp-for="AppUser.FirstName" class="control-label"></label>
                    <input asp-for="AppUser.FirstName" class="form-control" />
                    <span asp-validation-for="AppUser.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppUser.LastName" class="control-label"></label>
                    <input asp-for="AppUser.LastName" class="form-control" />
                    <span asp-validation-for="AppUser.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppUser.Email" class="control-label"></label>
                    <input asp-for="AppUser.Email" class="form-control" />
                    <span asp-validation-for="AppUser.Email" class="text-danger"></span>
                </div>
                <div class="row p-2">
                    <div class="form-group col-sm text-left p-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <input type="button" value="Delete" class="btn btn-danger"
                               onclick="window.location.href = 'Delete?id=' + window.location.search.substring(1).split('=')[1];" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <button class="btn btn-primary py-2 mb-4" onclick="window.history.back()">Cancel</button>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
